.main {
  display: inline-block;
  padding: 8px;
  background: #FFFFFF;
  border-radius: 5px;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  color: rgba(9, 21, 38, 0.85);
  margin: 16px;
}
