.main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.inner {
  display: block;
  text-align: center;
}

.text {
  font-weight: bold;
  color: #FFFFFF;

  @media (min-width: 0) {
    font-size: 18px;
    line-height: 28px;
  }

  @media (min-width: 600px) {
    font-size: 64px;
    line-height: 48px;
  }
}

.second {
  font-weight: bold;
  color: #FFFFFF;

  @media (min-width: 0) {
    font-size: 40px;
  }

  @media (min-width: 600px) {
    font-size: 144px;
  }
}