.main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &_visibility {
    background: #1c1b2a;
  }

  &_exited {
    opacity: 0;
    pointer-events: none;
  }

  &_exiting {
    transition: opacity 500ms;
    opacity: 0;
  }

  &_entering {
    transition: opacity 500ms;
    opacity: 1;
  }

  &_entered {
    opacity: 1;
  }
}

.loader {
  width: 120px;
  height: 120px;

  svg {
    width: 100%;
    height: 100%;
  }
}
