.main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;

  &_entering {
    transition: transform 500ms;
    transform: none;
  }

  &_entered {
    transform: none;
  }

  &_exiting {
    transition: transform 500ms;
    transform: translate(-150%);
  }

  &_exited {
    transform: translate(150%);
  }
}

.time {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 6px;
  background: #24C9AE;
}

.inner {
  height: 100%;
  margin: auto;
  
  @media (min-width: 0) {
    width: 288px;
  }

  @media (min-width: 600px) {
    width: 480px;
  }
}

.text {
  display: flex;
  width: 100%;

  @media (min-width: 0) {
    margin-top: 24px;
    margin-bottom: 16px;
  }

  @media (min-width: 600px) {
    margin-top: 45px;
    margin-bottom: 20px;
  }
}

.number {
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  background: #24C9AE;
  border-radius: 50%;
  font-weight: bold;
  color: #FFFFFF;

  @media (min-width: 0) {
    flex-basis: 32px;
    width: 32px;
    height: 32px;
    font-size: 18px;
    margin-right: 8px;
  }

  @media (min-width: 600px) {
    flex-basis: 45px;
    width: 45px;
    height: 45px;
    font-size: 26px;
    margin-right: 10px;
  }
}

.textInner {
  font-weight: bold;
  color: rgba(9, 21, 38, 0.85);
  flex-grow: 1;
  flex-basis: 0;

  @media (min-width: 0) {
    margin-top: 5px;
    font-size: 14px;
    line-height: 24px;
  }

  @media (min-width: 600px) {
    margin-top: 8px;
    font-size: 22px;
    line-height: 28px;
  }
}

.image {
  width: 100%;
  background-size: cover;
  background-position: center center;

  @media (min-width: 0) {
    height: 152px;
    border-radius: 5px;
    margin-bottom: 16px;
  }

  @media (min-width: 600px) {
    height: 280px;
  }
}

.answers {
  display: flex;
  flex-direction: column;
}

.answer {
  cursor: pointer;
  pointer-events: none;
  transition: opacity 200ms;

  @media (min-width: 0) {
    margin-bottom: 8px;
  }

  @media (min-width: 600px) {
    margin-bottom: 10px;
  }

  .answerMain {
    @media (min-width: 0) {
      height: 40px;
      border-radius: 5px;
    }

    @media (min-width: 600px) {
      height: 50px;
      border-radius: 6px;
    }
  }
  
  .answerVariant {
    @media (min-width: 0) {
      font-size: 24px;
      flex-basis: 40px;
      width: 40px;
    }

    @media (min-width: 600px) {
      font-size: 28px;
      flex-basis: 50px;
      width: 50px;
    }
  }

  .answerContentInner {
    transition: background 200ms;

    @media (min-width: 0) {
      font-size: 14px;
    }

    @media (min-width: 600px) {
      font-size: 22px;
    }
  }

  &_clickable {
    pointer-events: auto;
  }

  &_blurred {
    opacity: 0.3;
  }

  &_right {
    .answerContentInner {
      background: #ADFFBF;
    }
  }

  &_wrong {
    .answerContentInner {
      background: #FFC5C5;
    }
  }

  body:not(:global(.touch)) & {
    &:hover {
      .answerContentInner {
        background: #F2F9FF;
      }
    }
  }
}
