.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.inner {
  display: block;
  text-align: center;
}

.text {
  font-weight: bold;
  font-size: 64px;
  line-height: 48px;
  color: #FFFFFF;
}

.second {
  font-weight: bold;
  font-size: 144px;
  color: #FFFFFF;
}